<%-include('../partials/head.ejs')%>

<div class="patient-details">
<h1><%= patient.name %></h1>
    <ul>
        <li>
            <h4>Age:</h4> <%= patient.age %> year(s) old
        </li>
        <li>
            <h4>Gender:</h4> <% if (patient.gender === "") { %>
                N/A
            <% } else { %>
                <%= patient.gender %>
            <% } %>
        </li>
        <li>
            <h4>Insurance Status:</h4> <% if (patient.insurance) { %>
                Valid
            <% } else { %>
                Invalid / Self-Pay
            <% } %>
        </li><br>
        <li>
            <h4>Vital Signs:</h4>
            <li>Temperature: <%= patient.vitals.temp %> F</li>
            <li>Heart Rate: <%= patient.vitals.heartRate %> beats per minute</li>
            <li>Respiratory Rate: <%= patient.vitals.respRate %> breaths per minute</li>
            <li>Blood Pressure: <%= patient.vitals.bloodPressure %></li>
            <li>O2 Stat: <%= patient.vitals.oxygen %>%</li>
        </li>
    </ul>
</div>
<nav class="show-nav">
    <a href="/patients/<%=patient.id%>/edit">
        <button>Edit Patient Details</button>
    </a><br><br>
    <form action="/patients/<%=patient.id%>?_method=DELETE" method="POST">
        <input type="submit" value="Delete Patient" id="delete-btn">
    </form>
</nav>


<%-include('../partials/footer.ejs')%>