<%-include('../partials/head.ejs')%>

    <h1>Patient Portal Home Page</h1>
    <ul>
        <% for (let i = 0; i < patients.length; i++) { %>
            <li>
                <a href="/patients/<%=patients[i].id%>">
                    <div class="patient-list">
                        <h3>Name: <%= patients[i].name %></h3>
                        <h4>Age: <%= patients[i].age %></h4>
                    </div>
                </a>
            </li>
        <% } %>
    </ul>

<%-include('../partials/footer.ejs')%>